body {
    background-color: #20434f;
}

header {
    margin-top: 20px;
}

h3 {
    padding-bottom: 20px;
}

#rules > h4 {
    text-align: justify;
}

#game-over {
    background-color: #20434f;
    opacity: 0.8;
}

.modal-content {
    background-color: #182e36;
    color: #f5f2d0;
    opacity: 1;
}

.modal-header {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-title {
    font-size: 30px;
}

.modal-body {
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

#playerName {
    text-align: center;
    margin: 30px;
    font-size: 20px;
}

#closeBtn {
    margin-right: 10px;
}

#rules {
    color: #f5f2d0;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    text-shadow: -2px 2px 2px #122126;
    border-bottom: 1px solid;
}

#highscores {
    margin-top: 20px;
    text-align: center;
    color: #f5f2d0;
}

main {
    min-height: 85vh;
}

.row {
    padding-left: 0;
    padding-right: 0;
}

.col-12 {
    padding-left: 0;
    padding-right: 0;
}

#game > .row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-4 {
    padding-left: 10px;
    padding-right: 10px;
}

.shape {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 27vh;
    transition: all .5s;
}

.off {
    opacity: 0.6;
}

.score {
    font-size: 20px;
    font-weight: bold;
    color: #f5f2d0;
    text-shadow: -2px 2px 2px #122126;
}